name: KinD and minikube deployment via Github Actions
on:
  - push
  - pull_request
jobs:
  kind_deploy:
    runs-on: ubuntu-latest
    name: KinD Deploy
    steps:
      - name: KinD deployment start time
        id: start_time
        run: |
	  echo "START_TIME=$(date '+%s')" >> $GITHUB_OUTPUT

      - name: Start KinD deployment
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.17.0"
		  
      - name: KinD deployment end time
	id: end_time
	run: |
	  echo "END_TIME=$(date '+%s')" >> $GITHUB_OUTPUT
		
      - name: Testing
        run: |
          echo "Kube version: $(kubectl version --short)" >> KinD.log
          echo "Nodes: $(kubectl get nodes -A)" >> KinD.log
	  echo "Total nodes: $(kubectl get nodes | grep -c 'NAME')" >> KinD.log"
	  diff=$(( ${{ steps.end_time.outputs.END_TIME }} - ${{ steps.start_time.outputs.START_TIME }}))
	  echo "Deploying time: $diff seconds" >> KinD.log
		   
      - name: Report
        uses: actions/upload-artifact@v3
        with:
          path: KinD.log
		  
  minikube_deploy:
    runs-on: ubuntu-latest
    name: minikube deploy
    steps:
      - name: minikube deployment start time
        id: start_time
        run: |
	  echo "START_TIME=$(date '+%s')" >> $GITHUB_OUTPUT
		
      - name: Start minikube deployment
        uses: medyagh/setup-minikube@latest

      - name: minikube deployment end time
        id: end_time
        run: |
	  echo "END_TIME=$(date '+%s')" >> $GITHUB_OUTPUT

      - name: Result
        run: |           
          echo "Version:" >> minikube.log
          echo "$(kubectl version --short)" >> minikube.log
          echo "Node count: $(kubectl get nodes | grep -c 'NAME')" >> minikube.log
          diff=$(( ${{ steps.end_time.outputs.END_TIME }} - ${{ steps.start_time.outputs.START_TIME }}))
          echo "Deploying time: $diff seconds" >> minikube.log

      - name: Report
        uses: actions/upload-artifact@v2
        with:
          path: minikube.log
